.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.error{
  border-color: red;
}

#imgLogin{
  height: 200px;
  width: 500px;
}

#search{
  width: 25%;
}

.textoCentrado{
  text-align: center;
}

.seleccionar{
  width: 90px;
  height: 70px;
  margin-top: 10px;
  border-style: hidden;
}
#principal{
  width: 500px;
  height: 400px;
}

#vendidos{
  font-size: 12px;
}

#enviarCom{
  margin-left: 265px;
}
#puntuacion{
  margin-left: 5px;
  height: 30px;
  width: 40px;
}

.unchecked{
  color: grey;
}

#cerrar{
  background-color: rgba(255, 0, 0, 0.26);
}

.puntitos label{
    float: right;
    color: #c1b8b8;
    font-size: 30px; 
}

.puntitos {
  position: relative;
  overflow: hidden;
  display: inline-block;
  }

  .puntitos input {
  position: absolute;
  top: -100px;
  }

  .puntitos label:hover,
    .puntitos label:hover ~ label,
    .puntitos input:checked ~ label {
    color:orange;
    }
  
.dropdown:hover .dropdown-menu{
      display: block;
}


body{
  margin-top:20px;
  background:#eee;
  
}
.ui-w-40 {
  width: 150px !important;
  height: auto;
}

.card{
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}

.ui-product-color {
  display: inline-block;
  overflow: hidden;
  margin: .144em;
  width: .875rem;
  height: .875rem;
  border-radius: 10rem;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
  vertical-align: middle;
}

.formulario{
  width: 250px;
}

.cardPricelg{
  margin-top: 50px;
  margin-right: 10px;
  height: 350px;
}

.incompleto{
  color: red;
  text-decoration: underline;
}

.containerPago{
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 768px){
  #cardPrices{
    width: 960px;
    
  }
}

@media (min-width: 975px){
  #cardPrices{
  margin-top: 50px;
  margin-right: 10px;
  height: 350px;
  width: auto;
  
  }
}

.adelante{
  position: absolute;
  z-index: 150;
}

.cardProfile{
  margin-top: 20px;
}


.iconProfile{
  font-size: 80px;
  margin-bottom: 20px;
  cursor: pointer;
}

.rounded-circle{
  margin-left: 20%;
  margin-right: auto;
}
/*pantalla menor a la mia*/
@media (max-width: 1198px){
  #cardInfoPerfil{
    width: 700px;
    height: 250px;
  }
  #imagePerfil{
    width: 140px;
    height: 130px;
    float:left;
    margin-top: 20px;
    background-color: white;

  }
  #datosPersonales{
    float: right;
    margin-right: 20px;
  }
  #btnEditar{
    height: 30px;
  }
  #cardOpciones{
    height: 250px;
    width:700px;
  }
}
/*pantalla de computadora mia o mas grande*/
@media (min-width: 1199px){
  #cardInfoPerfil{
    width: 350px; 
    height: 550px;
  }
  #imagePerfil{
    width: 170px;
    height:160px;
    background-color: white;
    display: flex;
    justify-content: center;
  }
  #btnEditar{
    margin-top: 160px;
    height: 30px;
    margin-left: 205px;
  }
  #cardOpciones{
    height: 250px;
    width:700px;
    margin-left: 20px;
  }
  #animacionCard{
    margin-left: 20px;
  }
}